<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: links">
    <title>Title</title>
</head>

<body>
<div th:replace="header :: header"></div>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div th:replace="sidebar::sidebar"></div>
            </div>
            <div class="col-md-9 text-center">

                <!--TYTUŁ AUKCJI-->
                <h1><b th:text="${auction.title}"></b></h1>

                <!--OPIS AUKCJI (maksymalnie 600 znaków)-->
                <p class="lead" th:text="${auction.description}"></p>

                <!--CENA PRZEDMIOTU-->
                <div th:text="'Cena: ' + ${auction.item.estimatedPrice}"></div>


                <!--WSZYSTKIE POLA Z DANEJ KLASY-->
                <!--W AuctionController, zależnie od kategorii wyciagany jest obiekt fieldMap-->
                <!--FieldMap jest zadeklarowany w metodzie w każdej klasie w modelu-->
                <!--Kluczem w mapie jest nazwa pola-->
                <!--Wartoscia w mapie jest wartosc pola-->
                <ul>
                    <!--Pętla która iteruje po mapie zawierajacej pola-->
                    <div th:each="key: ${fieldMap.keySet()}">
                        <!--Sprawdza czy wartosc danego pola nie jest 'null'-->
                        <div th:if="${fieldMap.get(key) != null}">

                            <!--Wypisanie wartosci z mapy:-->
                            <!--key - nazwa pola np.'Graphics' potem wstawione '=' potem wartosc z mapy np.'AMD'-->
                            <span th:text="${key}"></span> = <span th:text="${fieldMap.get(key).toString()}"></span>
                        </div>
                    </div>
                </ul>

            </div>
        </div>
    </div>
</section>
<div th:replace="fragments::scripts"></div>
</body>

</html>

