<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: links">
</head>
<body>

<div th:replace="header :: header"></div>

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div th:replace="sidebar::sidebar"></div>
            </div>
            <div class="col-lg-10">
                <article id="showcase">
                    <div th:each="auction : ${auctionList}">

                        <div th:if="${auction.isAccepted && !auction.isSold}">
                            <div th:onclick="'clicked('+'\'/auction/get/'+${auction.id}+'\')'">
                                <div class="card border-dark mb-1">
                                    <div class="row card-body">
                                        <div class="col-md-8" th:text="${auction.title}"></div>
                                        <div class="col-md-2" th:text="${auction.item.estimatedPrice}"></div>
                                        <div class="col-md-2" th:text="${auction.user.username}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments::scripts"></div>

</body>
</html>