<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div th:fragment="header">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a th:href="@{/home}">
                        <img src="https://image.ibb.co/ca1cVz/logo.jpg" alt="Barterownia" th:width="180">
                    </a>
                </div>
                <div class="col-md-7">
                    <form class="navbar-form navbar-left" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control " placeholder="Szukaj po nazwie">
                        </div>
                        <a href="#" class="btn btn-primary btn-md ">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </form>
                </div>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
                    ZALOGUJ
                </button>
            </div>
        </div>
    </header>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <label>Logowanie</label>
                </div>
                <div class="modal-body">
                    <form th:action="@{/lo}" method="post">
                        <div class="form-group">
                            <label for="username">Nazwa użytkownika:</label>
                            <input name="password" type="text" class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Hasło:</label>
                            <input name="password" type="password" class="form-control" id="password">
                        </div>
                        <!--<div class="checkbox">-->
                            <!--<label><input type="checkbox"> Zapamiętaj hasło</label>-->
                        <!--</div>-->
                        <button type="submit" class="btn btn-default">Zaloguj</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="clicked('/user/register')">ZAREJESTRUJ</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>