<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: links">
</head>
<body>

<div th:replace="header :: header"></div>
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div th:replace="sidebar::sidebar"></div>
            </div>
            <div class="col-md-9">
                <article id="showcase">
                    <div th:each="laptop : ${laptopList}">
                        <div class="row" th:onclick="'clicked('+'\'/laptop/'+${laptop.id}+'\')'">
                            <div class="col-sm-2" th:text="${laptop.id}"></div>
                            <div class="col-sm-6" th:text="${laptop.name}"></div>
                            <div class="col-sm-4" th:text="${laptop.getIsNew()}"></div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments::scripts"></div>

</body>
</html>