<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="container">
    <form class="form-signin" th:action="@{/user/register}" th:object="${newUser}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label th:for="username" class="sr-only">Username</label>
        <input class="form-control" id="username" name="username" type="text" th:field="*{username}" placeholder="Username">
        <label th:for="inputPassword" class="sr-only">Password</label>
        <input class="form-control" type="password" id="password" name="password" th:field="*{password}" placeholder="Password">
        <label th:for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
        <input class="form-control" type="password" id="passwordConfirm" th:field="*{confirmPassword}" placeholder="Confirm password">
        <p class="form-inline" style="color: red;" th:text="${failMsg}"></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>



</body>
</html>