<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="sidebar">

    <aside id="sidebar">
        <h2>Kategorie:</h2>

        <div class="btn-group-vertical">

            <button onclick="location.href='/auction/list/mobile_phone'" type="button" class="btn btn-primary">Telefony
                komórkowe
            </button>

            <button onclick="location.href='/auction/list/laptop'" type="button" class="btn btn-primary">Laptopy
            </button>

            <button onclick="location.href='/auction/list/video_game'" type="button" class="btn btn-primary">Gry
            </button>

            <button onclick="location.href='/auction/list/music_album'" type="button" class="btn btn-primary">Muzyka
            </button>

        </div>

        <h2>Szukaj po cenie:</h2>
        <form class="form-group">
            <input type="text" placeholder="od">
            <input type="text" placeholder="do"> <br>
            <button type="submit" class="btn btn-default">Szukaj</button>
        </form>
    </aside>

</div>
</body>
</html>